@page "/"
<h3>EmployeeList</h3>
<input type="checkbox" id="showFooter" @bind="ShowFooter"/>
<label for="showFooter">Show Footer</label>
@if(Employees == null)
{
    <div class="spinner"></div>
}
else
{
    <div class="card-group">
        @foreach (var item in Employees)
        {
           <DisplayEmployee Employee="item" ShowFooter= "ShowFooter"></DisplayEmployee>
        }
    </div>
}
